.home-page {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .background-video {
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 .backround{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
 } 
 @media (min-aspect-ratio: 16/9 ){
    .backround{
        height: auto;
    }
 }
 @media (min-aspect-ratio: 16/9 ){
    .backround{
        height: 100%;
    }
 }
 
 
  