@import "./constant";
@import "./variables";

.app-home{
  height: 141vh;
}
.parallax{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('../Images/bg-01.jpg') no-repeat;
  background-size:cover ;
  background-position:center;
  background-attachment: fixed;
}
#text{
  position: absolute;
  font-size: 5em;
  color: #1b283a;
  text-shadow: 2px 4px 5px #f9f9f9;
}
.parallax img{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  pointer-events: none;
}
.parallax img#gate-left {
  transform: translateX(-282px);
}
.parallax img#gate-right {
  transform: translateX(305px);
}